@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

h1 {
    color: $text-color;

}

h2{
    text-align: center;
    text-decoration: none!important;
    text-decoration-line: none;
    color: red;
}

a{
    text-decoration: none;
}

.myActive{

    color: red!important;
}



main {
    background: linear-gradient(42deg,#d6d7e8,#f37898,#f4ff00);
    background-size: 180% 180%;
    animation: gradient-animation 27s ease infinite;
    min-height: 100vh;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.myCircle {
    height: 200px;
    width: 200px;
    background-color: blue;
    color: white;
    font-size: 2em;
    border-radius: 50%;
}

a{
    color: white;
}

